---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set wordslist = collections.words %}
{% set wordslistCounter = collections.words | length %}
{% include "wordslist.njk" %}
