---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - word
    - words
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set wordslist = collections[ tag ] %}
{% include "wordslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
